/*-----FONTS-----*/
@font-face {
	font-family: 'ubuntu-regular';
	src: url('./Fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
	font-weight: "regular";
}
@font-face {
	font-family: 'ubuntu-bold';
	src: url('./Fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
	font-weight: "bold";
}

@font-face {
    font-family: 'open-sans-regular';
    src: url('./Fonts/Open_Sans/Open_Sans/static/OpenSans-Regular.ttf"') format('truetype');
    font-weight: "regular";
}

@font-face {
    font-family: 'tasa-orbiter-regular';
    src: url('./Fonts/TASA_Orbiter/static/TASAOrbiter-Regular.ttf') format('truetype');
    font-weight: "regular";
}
/*-----FONTS-----*/

/*-----PAGE SETUP-----*/

/* Space out main sections of page */

::-webkit-scrollbar {
    display: none; /* Removes scroll bar */
}

body {
    min-height: 100vh;
    background-color: rgb(110, 109, 109);
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Disables vertical and horizontal scrolling */
}

/* Ensure all content fits available space equally */
main {
    flex: 1;
}

/*-----PAGE SETUP-----*/

/*-----PASSWORD SETTINGS-----*/

.password-settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.password-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* keep labels aligned left inside box */
  background-color: rgb(110, 109, 109);
}

/*-----Checkboxes-----*/
.password-settings input[type="checkbox"] {
    display: none; /* Remove original checkboxes */
}

.password-settings label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 28px;
    margin: 10px 0;
    font-family: tasa-orbiter-regular, Arial;
    font-size: 18px;
    color: white;
}

.password-settings label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #555;
  border-radius: 4px;
  background-color: rgb(110, 109, 109);
  transition: all 0.2s ease;
}

.password-settings input:checked + label::before {
  background-color: rgb(252, 139, 53);
  border-color: rgb(252, 139, 53);
  box-shadow: inset 0 0 0 2px rgb(110, 109, 109);
}

/* Hover effect for password setting checkboxes */
.password-settings label:hover::before {
  border-color: rgb(252, 139, 53);
}
/*-----Checkboxes-----*/

/*-----Password length slider-----*/
.password-length-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px auto;
}

.password-length-slider {
    appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: rgb(80, 80, 80);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.password-length-slider:hover {
    opacity: 1;
}

.password-length-slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(232, 119, 33);
    cursor: pointer;
}

#password-length-text {
    font-family: tasa-orbiter-regular, Arial;
    font-size: 20px;
    color: white;
}

/*-----Password length slider-----*/

/*-----PASSWORD SETTINGS-----*/

/*-----GENERATE PASSWORD CONTAINER-----*/

.generate-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.generate-password-button {
    background-color: rgb(80, 80, 80);
    color: white;
    border-color: rgb(252, 139, 53);
    font-family: tasa-orbiter-regular, Arial;
    font-size: 26px;
    border-radius: 10px;
    cursor: pointer;
}

.generate-password-button:hover {
    background-color: rgb(60, 60, 60);
}

/*-----GENERATE PASSWORD CONTAINER-----*/


/*-----PASSWORD CONTAINER-----*/

/* Center password text */
.password-container {
	display: flex;
	justify-content: center;
	align-items: center;
    margin: 40px auto;
}

/* Password display area */
.password-text {
	background-color: white;
	width: 500px;
	height: 100px;
	border-radius: 15px;
}

/*-----PASSWORD CONTAINER-----*/

/*-----GENERATE PASSWORD CONTAINER-----*/

/*-----FOOTER-----*/

#info {
    font-family: tasa-orbiter-regular, Arial;
    font-size: 13px;
}

footer {
  min-height: 50px;
  background: rgb(110, 109, 109);
  margin: auto;
}

/*-----FOOTER-----*/